
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4; 
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: #333;
}

p {
  color: #555;
}


.dashboard-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.dashboard-header {
  text-align: center;
  margin-bottom: 20px;
}

.add-task-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 50%; 
  margin: 0 auto 20px auto;
}

.add-task-form div {
  margin-bottom: 10px;
}

.add-task-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.add-task-form input, .add-task-form select, .add-task-form button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  font-size: 16px;
}

.add-task-form button {
  background-color: #007bff; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.add-task-form button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}


.task-item {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  flex: 1 1 calc(33% - 20px); 
  box-sizing: border-box;
}

.task-item h3 {
  margin: 0 0 10px;
}

.task-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.edit-btn, .delete-btn {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-btn {
  background-color: #4CAF50;
  color: white;
}

.delete-btn {
  background-color: #f44336;
  color: white;
}

.edit-btn:hover {
  background-color: #45a049;
}

.delete-btn:hover {
  background-color: #e53935;
}


.task-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px; 
}

.not-found-page {
  text-align: center;
  padding: 50px;
  color: #555;
}

.btn {
  background-color: #007bff; 
  background-image: linear-gradient(to bottom, #007bff, #0056b3); 
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3; 
}

.blue-gradient {
  background-color: #007bff; 
  background-image: linear-gradient(to bottom, #007bff, #0056b3); 
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.blue-gradient:hover {
  background-color: #0056b3;
}


.task-list {
  margin-top: 20px;
}

.task-list-header {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.task-items-container {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.task-list-header-div{
  width: 800px; 
}